- if current_user
  = link_to toggle_star_namespace_project_path(@project.namespace, @project), { class: 'btn star-btn toggle-star', method: :post, remote: true } do
    - if current_user.starred?(@project)
      = icon('star')
      %span.starred Unstar
    - else
      = icon('star-o')
      %span Star
  %div.count-with-arrow
    %span.arrow
    %span.count.star-count
      = @project.star_count

- else
  = link_to new_user_session_path, class: 'btn star-btn', title: 'You must sign in to star a project' do
    = icon('star')
    Star
  %div.count-with-arrow
    %span.arrow
    %span.count
      = @project.star_count
